
.container {
	padding: 0 15px;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	align-items: center;
	background-color: #00ffff2e;
}

h1 {
	font-size: 32px;
	font-weight: 700;
}

img {
	width: 100%;
	max-width: 250px;
	height: auto;
}
figcaption {
	display: flex;
	align-items: center;
}

.copyright {
	display: flex;
	justify-content: center;
}
